streamlit>=1.28.0
google-generativeai>=0.3.0
python-dotenv>=1.0.0
langchain
langchain-core
langchain-community
langchain-classic
langchain-text-splitters
langchain-google-genai
langchain_groq
google-genai
faiss-cpu
structlog
PyMuPDF
fastapi
uvicorn
docx2txt
pytest
python-multipart
PyPDF2
pypdf
pandas
pyyaml
pydantic
jinja2